/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e3f2fd;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho - Fixação condicional */
header {
    background-color: #358600;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}
header h1 {
    font-size: 2rem;
    font-weight: 600;
}
/* Menu de Navegação */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    text-align: center;
    
}
.nav-list.active {
    display: flex;
    max-height: 500px; /* Define um limite para o menu expandido */
}
.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}
.nav-list li {
    padding: 10px;
}
.nav-list a:hover {
    background: #166d00;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

/* Menu "Hambúrguer" no canto superior esquerdo */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    outline: none;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}


/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
    padding-top: 18px;
}
    .nav-list {
        display: none; /* Esconde o menu em telas menores */
        flex-direction: column;
        max-height: 0; /* Mantém o menu fechado */
        overflow: hidden;
        line-height: 6px;
        padding-top: 10px;
        transition: max-height 0.4s ease;
    }

    .nav-list.active {
        display: flex; /* Exibe o menu quando ativo */
        max-height: 500px;
    }

    .menu-toggle {
        display: flex; /* Exibe o botão "Hambúrguer" em telas menores */
    }
    #slider {
        padding: 0px;
    }
}
header h1 {
    font-size: 2rem;
    font-weight: 600;
}

/* Slider */
#slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 1.5rem;
}

.slider-container {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slider-container img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Seção de Apresentação com imagem de fundo */
#apresentacao {
    background-image: url('https://www.bhs.org.au/media/2vnfqnvg/mosquito.jpg'); /* Substitua com a URL da imagem do mosquito */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: justify;
    position: relative;
    padding: 3rem 2rem;
    z-index: 1;
}

#apresentacao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: -1;
}

#apresentacao h2, #apresentacao p {
    color: #fff;
}

/* Estilo para alinhar os ícones das doenças e o texto */
.doencas-lista, .prevencao-lista {
    list-style: none;
    padding: 0;
}

.doencas-lista li, .prevencao-lista li {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
}

.icone-doenca, .icone-prevencao {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    flex-shrink: 0;
}


/* Seções */
section {
    padding: 3rem 2rem;
    margin: 1.5rem auto;
    max-width: 920px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#mosquito, #metodologia, #resultados {
    text-align: justify;
}
h2 {
    font-size: 1.8rem;
    color: #006400;
    margin-bottom: 1rem;
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #006400;
    margin: 0.5rem auto;
    border-radius: 2px;
}

ul li {
    font-size: 1.05rem;
    color: #333;
    padding: 0.3rem 0;
}

ul li strong {
    color: #004d40;
    font-weight: bold;
}

/* Formulário de Contato */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 1.5rem;
}

label {
    font-weight: 600;
    color: #007f5f;
    align-self: flex-start;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #00796b;
    outline: none;
}

button {
    background-color: #007f5f;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #006400;
}

/* Estilo de animação para aparecer ao rolar */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo da seção de panfleto */
#panfleto {
    text-align: center;
    margin: 2rem auto;
    max-width: 920px;
}

#panfleto h2 {
    font-size: 1.8rem;
    color: #006400;
    margin-bottom: 1.5rem;
}

.panfleto-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* Garante que os itens fiquem empilhados em telas menores */
    justify-content: center;
}

.panfleto-content img {
    width: 250px; /* Tamanho da prévia do panfleto */
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.panfleto-text {
    max-width: 500px;
    text-align: left;
}

.panfleto-text p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.btn-download button {
    background-color: #007f5f;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-download button:hover {
    background-color: #006400;
}

/* Responsividade */
@media (max-width: 768px) {
    .panfleto-content {
        flex-direction: column; /* Itens empilhados em telas pequenas */
    }

    .panfleto-content img {
        width: 100%; /* Imagem ocupa a largura total disponível */
        max-width: 300px;
    }

    .panfleto-text {
        text-align: center; /* Centralizar texto em telas pequenas */
    }
}

/* Rodapé */
footer {
    background-color: #006400;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}
#mensagem-status {
    margin-top: 1rem;
    text-align: center;
    color: #006400;
}
/* Estilos para o Quiz */
#quiz {
    text-align: center;
    margin-top: 2rem;
  }
  
  #quiz-container {
    margin: 1rem auto;
    max-width: 800px;
  }
  
  #quiz-options {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  #quiz-options li {
    margin: 0.5rem 0;
  }
  
  #quiz-options button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007f5f;
    color: #fff;
    border: 2px solid #004b23; /* Borda verde escura */
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0.5rem 0; /* Espaçamento entre as alternativas */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .quiz-button:hover {
    background-color: #006400;
    border-color: #104911; /* Muda a cor da borda ao passar o mouse */
  }
  
  #quiz-options button:hover {
    background-color: #006400;
  }
  
  #quiz-feedback {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
/* Seção de Animação */
#animacao-reproducao {
    text-align: center;
    margin-top: 2rem;
}

.animacao-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.etapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.icone {
    width: 100px;
    height: 100px;
    background-color: #e3f2fd;
    border-radius: 50%;
    overflow: hidden; /* Garantir que a imagem não saia do círculo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

.icone img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para ocupar todo o círculo */
    display: block;
}

.icone::before {
    content: '';
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.etapa p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Estilo do Jogo Educativo */
#game-container {
    text-align: center;
    margin-top: 2rem;
}

#game-instructions button {
    background-color: #007f5f;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#game-instructions button:hover {
    background-color: #006400;
}

#game-area {
    position: relative;
    width: 80%;
    height: 400px;
    margin: 1rem auto;
    border: 2px solid #004b23;
    background-color: #a4f7fa;
    overflow: hidden;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#game-background {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url('https://img.freepik.com/vetores-premium/cena-dos-desenhos-animados-da-paisagem-com-campo-verde-e-ceu-azul_120819-2570.jpg') center center / cover no-repeat; /* Substitua pela imagem do fundo */
}
/* Estilo do título com imagem */
#jogo-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#jogo-titulo h2 {
    font-size: 1.8rem;
    color: #006400;
    margin: 0;
    text-align: center;
     /* Remover possíveis traços */
     border-bottom: none; /* Caso o traço seja gerado por borda */
     text-decoration: none; /* Caso o traço seja gerado por decoração de texto */
}

#jogo-titulo h2::after {
    content: none; /* Remove pseudo-elementos que podem estar criando o traço */
}

#jogo-titulo img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #jogo-titulo {
        flex-direction: column; /* Alinha os itens verticalmente */
    }

    #jogo-titulo img {
        margin-top: 0.5rem; /* Espaço entre o título e a imagem */
    }
}


/* Estilo dos focos */
.foco {
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.foco:hover {
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}

.foco.tipo1 {
    background-image: url('https://blog.h2opurificadores.com.br/wp-content/uploads/2020/12/agua-parada-h2O-purificadores-810x540.jpg'); /* Substitua pelo caminho da imagem */
}

.foco.tipo2 {
    background-image: url('https://tribunadejundiai.com.br/wp-content/uploads/2024/04/Previna-a-dengue-no-seu-quintal-em-10-minutos.jpg'); /* Substitua pelo caminho da imagem */
}

.foco.tipo3 {
    background-image: url('https://vitorianews.com.br/wp-content/uploads/2023/12/VASO-COM-AGUA-PARADA-dengue.jpg'); /* Substitua pelo caminho da imagem */
}
.foco.tipo4 {
    background-image: url('https://www.folha1.com.br/_midias/folha1/arquivos/2014/10/0c7b49a2f64428a533cbdcef705705fb_390x293.jpg'); /* Substitua pelo caminho da imagem */
}

.foco.tipo5 {
    background-image: url('https://sulcapixaba.com.br/wp-content/uploads/sites/18/2024/02/IMG_5732.jpeg'); /* Substitua pelo caminho da imagem */
}

