body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("electromagnetic_spectrum-1920x1200.jpg");
    background-position: center;
    background-size: 310%;
    margin: 0px;
    padding: 0px;
}
h4 {
    font-size: 18px;
    color: rgb(252, 250, 169);
}
#ema, #nom {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
    width: 73%;
    background-color: rgb(229, 227, 226);
    font-size: 16px;
    color: rgb(10, 82, 1);
}
#tel, #cid {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 145px;
    background-color: rgb(229, 227, 226);
    font-size: 16px;
    color: rgb(10, 82, 1);
}
#cid, #sex {
    cursor: pointer;
}
legend {
    font-size: 25px;
    color: rgb(255, 240, 28);
    font-weight: bold;
}
fieldset {
    border: 2px solid rgb(1, 5, 0);
    border-radius: 5px;
    background: rgb(33, 1, 150);
    width: 90%;
    margin: 0px auto;
}
button {
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
#bot1 {
    background-color: chartreuse;
}
#bot2 {
    background-color: rgb(255, 123, 0);
}
@media screen and (min-width: 768px) { 

body {
    background-size: 100%;
}
fieldset {
    width: 70%;
}
#nom, #ema {
    width: 55%;
}
}
