body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
}

header {
    background-color: #072ac8;
    color: white;
    padding: 20px;
    position: relative;
}

header .logo {
    width: 82px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 10px; /* Ajuste o valor conforme necessário */
    left: 10px; /* Ajuste o valor conforme necessário */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #1d00a0;
    background-color: rgb(236, 236, 236);
}

main {
    padding: 10px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: #072ac8;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.btn-download {
    background-color: #072ac8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn-download:hover {
    background-color: #2a4dff;
    transform: scale(1.1);
}

.edital-resumo {
    margin-top: 20px;
}

.resumo-item {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resumo-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chapa, .resul, .portaria-info {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chapa:hover, .resul:hover, .portaria-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #072ac8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #2a4dff;
    transform: scale(1.1);
}

footer {
    background-color: #072ac8;
    color: white;
    text-align: center;
    padding: 10px 0;
    line-height: 5px;
    position: relative;
    margin-top: 40px;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    form input, form textarea {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
         padding-left: 60px; /* Ajuste para espaço da imagem */
    }
    header .logo {
        width: 60px;
    }
    nav ul li a {
        font-size: 16px;
    }

    .btn-download, form button {
        width: 100%;
    }
}
