body{
    padding: 0px;
    padding-top: 3px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/1624521904_1GG.webp);
}
#cab {
	background-color: #f0f0f0;
    position: fixed;
	width: 99.1%;
	border: 2px solid black;
    padding: 3px;
    text-align: center;
}
#img_con {
    width: 40%;
}
#img-esq {
    width: 29%;
    float: left;
}
#img-dir {
    width: 29%;
    float: right;
}
table {
	width: 100%;
	background-color: #0004fc;
}
#cabe {
    border: 1.5px solid black;
    background-color: #d3f266;
    color: rgb(151, 68, 0);
    padding: 9px;
    font-size: 18px;
}
#dia {
    padding: 6px;
    font-size: 16px;
    color: rgb(1, 59, 1);
    text-align: center;
    font-style: italic;
    background-color: #edf262;
}
#discip {
    padding: 6px;
    font-size: 16px;
    text-align: center;
    color: rgb(7, 13, 97);
    background-color: #F5FFFA;
}
#fiel-bb {
	border: 2px solid black;
	background-color: #c1fdeb;
	background-image: url(https://www45.bb.com.br/docs/ri/ra2011/includes/imagens/agencia_paulista.jpg);
	background-position: center;
	background-size: 150%;
	align-items: center;
	padding: 12px;
	flex-wrap: wrap;
    flex-direction: column;
	justify-content: space-around;
	display: flex;
}
#botao-bb {
	background:  #f2cb05;
	color: #384001;
}
#botao-bb:hover:not(.active) {
	background-color: blue;
	color: white;
}
#botao-bb {
	border: 1.5px solid black;
	border-radius: 12px;
	font-size: 18px;
	color: black;
	text-decoration: none;
	padding: 6px;
}
#img-bb {
	border-radius: 7px;
	height: 55px;
}
#tab_crono-bb {
	border: 2px solid black;
	width: 100%;
	background-color: yellow;
}
#th-bb {
	font-size: 18px;
	padding: 5px;
	background-color: rgb(47, 0, 255);
	color: whitesmoke;
}
#cab_tab-bb {
	text-align: center;
	font-weight: bold;
	background-color: rgb(255, 238, 0);
	color: #020080;
}
#td-bb {
	padding: 5px;
	background-color: #feffb0;
}
#data-bb {
	text-align: center;
	background-color: #fbffbc;
}
li {
	list-style-position: inside;
	text-align: right;
}
b {
	color: rgb(2, 2, 29);
}
i {
	color: rgb(6, 73, 0);
	font-size: 15px;
}
footer {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	color: rgb(255, 255, 255);
	background-color: #303030;
}
@media screen and (min-width: 768px) { 

    body {
      padding: 0px;
    }
    #fiel-bb {
        flex-direction: row;
    }
    table {
        width: 80%;
    }	
    #img_con {
        width: 25%;
    }
    #img-esq {
        width: 18%;
        float: left;
    }
    #img-dir {
        width: 18%;
        float: right;
    }
	#img-bb {
	height: 70px;
}
    
    }
