body {
	font-family: arial;
	background-color: azure;
	margin: 0px;
    padding: 0px;
	background-image: url(imagens/1624525147_1GG.webp);
}
html,
body {
overflow-x: hidden;
width: 100%;
}
#cabeçalho {
	background-color: white;
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 100%;
    text-align: center;
	justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;
}
#esp {
    padding: 30px;
}
h2 {
    font-size: 21.5px;
}
#imgEsque {
	width: 49%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
#buton {
    border: 1px solid rgb(2, 70, 0);
    border-radius: 6px;
    color: #13542d;
    padding: 12px;
    font-weight: 600;
    background-color: #efff11;
    text-decoration: none;
}
#buton:hover:not(.active) {
    background-color: rgb(255, 233, 31);
    color: navy;
    border: 1px solid red;
}
#tabhora {
    border: 1px solid black;
	width: 100%;
    background-color: rgb(2, 238, 218);
}
#imgcurso {
    width: 70%;
}
#cabe {
    border: 1.5px solid black;
    background-color: #13542d;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 12px;
}
#dia {
    font-size: 8px;
    color: black;
    text-align: center;
    font-style: italic;
    background-color: #c3cf0a;
}
#discip {
    font-size: 8px;
    text-align: center;
    color: rgb(7, 13, 97);
    background-color: #ffffff;
}
#horas {
    text-align: center;
    font-size: 8px;
    color: rgb(184, 41, 36);
    font-style: italic;
    background-color: #e7eee8;
}
#hrs {
    text-align: center;
    font-size: 8px;
    color: rgba(235, 114, 0, 0.993);
    background-color: #f2f4f5;
}
#curso {
    border: 0px solid black;
    background-color: rgb(107, 194, 252);
    background-image: url('https://assets.atlas.grupoq.io/images/01e016af-45aa-4c09-b8bd-7a6664290d96.png');
    background-size: 270%;
    background-position: center;
    padding: 7px;
    padding-bottom: 11px;
}
#campus, #anoLet, #turno {
    font-size: 16px;
    color: black;
    padding-left: 6px;
}
#campus {
    line-height: 28px;
}
#turno {
    line-height: 25px;
}
#local, #ano, #tur {
    font-size: 16px;
    color: rgb(18, 2, 63);
}
#disc {
    border: 1px solid rgb(7, 7, 7);
    background-color: #FFF5EE;
}
#legdisc {
    border: 1px solid black;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    background-color: #defcf9;
}
#nomprof{
    font-size: 14px;
    font-style: italic;
}
#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: #13542d;
    background-color: #f0fffe;
    font-size: 19px;
    padding: 16px;
}
#bot {
    border: 1px solid rgb(16, 92, 1);
    color: rgb(3, 3, 3);
    background-color: #c1ffce;
    background-position: center;
    background-size: contain;
    border-radius: 5px 12px 5px 12px;
    text-decoration: none;
    font-size: 16px;
    padding: 6px;
    text-align: center;
}
#bot:hover:not(.active) {
    background-color: rgb(93, 255, 174);
    color: rgb(235, 0, 0);
    border-radius: 5px 12px 5px 12px;
    background-position: center;
    background-size: contain;
}
#dis {
    text-align: left;
    border-radius: 8px;
    font-size: 17px;
    background-color: rgb(251, 255, 194);
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    font-weight: bold;
}
p {
    text-align: right;
}
#mat {
    text-align: center;
    font-size: 17px;
}
#sit3 {
    color: rgb(255, 255, 255);
    background-color: rgb(252, 20, 20);
    border-radius: 8px;
    font-style: italic;
    font-size: 16px;
    padding: 5px;
}
#sit2, #sit1 {
    color: rgb(0, 0, 0);
    background-color: rgb(79, 248, 0);
    border-radius: 8px;
    font-style: italic;
    padding: 5px;
    font-size: 16px;
}
footer {
    text-align: center;
    background-color: #e7eee8;
    line-height: 1px;
    padding: 10px;
}

@media screen and (min-width: 768px) { 


#cabeçalho {
    flex-direction: row;
    padding: 15px;
    position: fixed;
}
#curso {
    background-size: 130%;
}
#esp {
    padding: 90px;
}
#imgEsque {
	width: 20%;
}
h2 {
    font-size: 25px;
}
#cabe {
    font-size: 17px;
}
#dia, #discip, #horas, #hrs {
    font-size: 14px;
    padding: 5px;
}
#imgcurso {
    width: 27%;
}
#tabhora {
    width: 65%;
}
nav {
    flex-direction: row;
}
#buton {
    padding: 10px;
}
#d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10 {
        display: flex;
        flex-direction: row;
        
    }
}
