body {
	font-family: arial;
	background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/1849423-fluido-abstrato-azul-fundo-gr%C3%A1tis-vetor.jpg');
	background-position: center;
	background-size: 140%;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	border-radius: 8px;
	color: rgb(0, 0, 0);
	border: 1px solid black;
	padding: 6px;
	background-color: gold;
}
p {
	text-align: right;
	padding-right: 5px;
}
h2 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 22px;
}
h3 {
	color: rgb(243, 0, 0);
	border: 1px solid black;
	font-size: 18px;
	border-radius: 15px;
	padding: 7px;
	background-color: #E0FFFF;
}
legend {
	text-align: center;
}
fieldset {
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	background-image: url('Bora Bora.jpg');
	background-position: center;
	background-size: 545%;
}
#cabeçalho {
	border: 1px solid rgb(6, 0, 95);
	padding: 8px;
	background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-fresh-white-brick-face-poster-banner-background-image_131546.jpg);
	background-position: center;
	background-size: 107%;
}
#fieldset1 {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: space-around;
	padding-bottom: 15px;
}
#tab_lp {
	width: 100%;
	background-color: rgb(5, 67, 201)
}
#titletras {
	text-align: center;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	background-color: rgb(241, 241, 234);
}
#discletras {
	text-align: left;
	padding: 5px;
	color: rgb(18, 2, 109);
	background-color: rgb(246, 250, 207);
}
#disc, #not, #media {
    text-align: center;
    font-style: italic;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f7fabf;
}
#notas, #med {
	text-align: center;
	padding: 5px;
	color: rgb(0, 63, 0);
	background-color: rgb(252, 251, 227);
}
#med {
	color: rgb(0, 11, 110);
}
@media screen and (min-width: 768px) { 

body {
	background-size: 130%;
	background-position: center;
	margin: 0px;
	padding: 0px;
}
#cabeçalho {
	background-size: 100%;
}
fieldset {
	background-position: center;
	background-size: 140%;
	padding: 8px;
}
#tab_lp {
	width: 70%;
}
#fieldset1 {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	padding-bottom: 15px;
	justify-content: space-around;
}
}
