body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.portfolio {
    background-color: #c1fba4; /* Cor de fundo da seção de portfólio */
    padding: 20px;
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item {
        width: 100%;
    }
}