* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo da página */
}

header {
    background: #333;
    color: #fff;
    padding: 5px ;
    
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-list a:hover {
    background: #444;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    animation: slide 15s infinite;
}

.slider img {
    width: 100%;
    min-height: 200px;
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

.services {
    background-color: #00bbf9; /* Cor de fundo da seção de serviços */
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/377/174/large_2x/abstract-gradient-blue-angled-lines-design-vector.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.portfolio {
    background-color: #c1fba4; /* Cor de fundo da seção de portfólio */
    background-image: url(https://i.pinimg.com/originals/11/a0/5d/11a05dae6baf0719508a144644f7833e.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.about {
    background-color: #fdf8e1; /* Cor de fundo da seção sobre */
    padding: 20px;
    text-align: center;
}

.testimonials {
    background-color: #fcefb4; /* Cor de fundo da seção de depoimentos */
    background-image: url(https://www.desktopbackground.org/download/2304x864/2013/07/17/608845_download-wallpapers-3840x1200-abstraction-yellow-white-line-dual_3840x1200_h.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.testimonial-item {
    margin: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#contato {
    padding: 10px;
}

#contato h2 {
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/309/792/original/white-waves-background-free-vector.jpg);
    background-size: cover;
}

#contato form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#contato label {
    display: block;
    margin: 10px 0 5px;
}

#contato input, #contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#bot_port {
    margin-top: 15px;
    padding: 12px 22px;
    background-color: #1daf00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#bot_port:hover {
    background-color: #0a7a00;
}

#mensagem-status {
    text-align: center;
}
.footer {
    color: rgb(255, 255, 255);
	background-color: #474747;
    text-align: center;
    padding: 15px;
    padding-bottom: 1px;
    font-size: 14px;
    margin-top: auto;
}
.footer .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.footer .icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.footer .icons a:hover {
    transform: translateY(-10px);
}
.footer .icons a img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}
.footer .text {
    margin: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .services-container, .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .service-item, .portfolio-item {
        width: 90%;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-list li {
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list.active {
        display: flex;
    }
}
